{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% load wagtailcore_tags %}
{% wagtail_site as current_site %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


        <main id="swup" class="transition-main">
            <div class="max-w-[40rem] mx-auto">
    
                {% for item in page.page_body %}
                    <div class="" id="section-{{ forloop.counter0 }}">
                        {% if item.block_type == 'heading' %}
                            <div class="text-xl lg:text-2xl font-bold pb-6">
                                {{item}}
                            </div>
                        {% elif item.block_type == 'paragraph' %}
                            <div class="pb-4 ptext">
                                {{ item }}
                            </div>
                        {% elif item.block_type == 'numbered_list' %}
                            <ol class="pl-6 sm:pl-0 list-decimal">
                                {% for jtem in item.value %}
                                    <li class="pb-2">
                                        {{ jtem }}
                                    </li>
                                {% endfor %}
                            </ol>
                            
                        {% elif item.block_type == 'image' %}
                            {% image item.value width-1000 as i_img %}
                            <div class="w-full pb-4">
                                <img src="{{ i_img.url }}" alt="">
                            </div>
                        {% elif item.block_type == 'video_embed' %}
                            <iframe class="h-[58vw] sm:h-[12rem] md:h-[20rem] lg:h-[25rem] w-full my-4" src="{{ item }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


            <div class="my-20">
                {% if page.url == "/" %}
                    <div class="flex items-center justify-center">
                        <div class="w-8 h-8 mx-2">
                            <a href="{{ settings.home.GenericSiteSettings.philpeople_link }}">
                                {% image settings.home.GenericSiteSettings.philpeople_icon width-200  %}
                            </a>
                            
                            
                        </div>

                        <div class="w-8 h-8 mx-2">
                            <a href="{{ settings.home.GenericSiteSettings.linkedin_link }}">
                                {% image settings.home.GenericSiteSettings.linkedin_icon width-200  %}
                            </a>
                        </div>

                    </div>
                {% endif %}
            </div>
            
        </main> 
{% endblock content %}

{% block extra_js %}
    <script>
            $(".clickable").on("click", function() {  
                $(".scalar").removeClass("scale-x-100");
                $(".scalar").addClass("scale-x-0");
                $("#" + this.id + "-scalar").addClass("scale-x-100");
                $("#" + this.id + "-scalar").removeClass("scale-x-0");
            });

    </script>
{% endblock %}