{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% load wagtailcore_tags %}
{% wagtail_site as current_site %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


    <div id='content_panel' class="relative max-w-screen-2xl h-[100vh]">
        
        <!-- Sidebar elements -->

            <!-- Buttons -->
            

        <main id="swup" class="transition-main">

            <div class="max-w-[40rem] mx-auto">
    
                {% for item in page.page_body %}
                    <div class="pb-8" id="section-{{ forloop.counter0 }}">
                        {% if item.block_type == 'heading' %}
                            <div class="pt-3 pb">
                                <h2 class="text-xl lg:text-2xl font-bold">{{item}}</h2>
                            </div>
                        {% elif item.block_type == 'paragraph' %}
                            <div class="pb-2">
                                {{ item }}
                            </div>
                        {% elif item.block_type == 'numbered_list' %}
                            <ol class="list-decimal">
                                {% for jtem in item.value %}
                                    <li class="pb-2">
                                        {{ jtem }}
                                    </li>
                                {% endfor %}
                            </ol>
                            
                        {% elif item.block_type == 'image' %}
                            {% image item.value width-1000 as i_img %}
                            <div class="w-full py-2">
                                <img src="{{ i_img.url }}" alt="">
                            </div>
                        {% elif item.block_type == 'video_embed' %}
                            <iframe class="h-[58vw] sm:h-[12rem] md:h-[20rem] lg:h-[25rem] w-full my-4" src="{{ item }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </main> 
    </div>
{% endblock content %}